<ng-container *ngIf="persona">
  <h3>{{ persona.name }} </h3>
  <h4>{{ persona.arcana + ' ' + level }} </h4>


  <table>
    <thead>
      <th>Stat</th>
      <th>Value</th>
      <th>Possible</th>
    </thead>
    <tr>
      <th>Strength</th>
      <td>{{ persona.stats[0] }} </td>
      <td>{{ maxStat(persona.stats[0]) }} </td>
    </tr>
    <tr>
      <th>Magic</th>
      <td>{{ persona.stats[1] }} </td>
      <td>{{ maxStat(persona.stats[1]) }} </td>
    </tr>
    <tr>
      <th>Endurance</th>
      <td>{{ persona.stats[2] }} </td>
      <td>{{ maxStat(persona.stats[2]) }} </td>
    </tr>
    <tr>
      <th>Agility</th>
      <td>{{ persona.stats[3] }} </td>
      <td>{{ maxStat(persona.stats[3]) }} </td>
    </tr>
    <tr>
      <th>Luck</th>
      <td>{{ persona.stats[4] }} </td>
      <td>{{ maxStat(persona.stats[4]) }} </td>
    </tr>
  </table>
  <input type="number" [(ngModel)]="persona.level">
  <app-fusion-list [persona]="persona"></app-fusion-list>
</ng-container>
<button (click)="goBack()">Back</button>